<hr>
<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
 <h5><a href="{{ url }}/">Linux Dersleri</a> | <a target="_blank" href="https://github.com/Linux-Dersleri/linux-dersleri.github.io"><i class="fa fa-github fa-lg"></i></a></h5>
 <p class="small">Linux için Türkçe ve reklamsız içerik sağlamak için gönüllü olarak kurulmuş bir platformdur.</p>
	 
	  
    </div>
    <div class="col-6 col-md">
      <h5>Eğitim Serileri</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Temel Linux</a></li>
        <li><a class="text-muted" href="#">Sistem Yönetimine Giriş</a></li>
        <li><a class="text-muted" href="#">Bash Kabuk Programlama</a></li>
      </ul>
    </div>
    
  
    <div class="col-6 col-md">
      <h5>Hakkında</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Hakkında</a></li>
        <li><a class="text-muted" href="{{ site.url }}sıkca-sorulan-sorular.html">S.S.S.</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Geri Bildirim</a></li>
		<li><a class="text-muted" href="#">İletişim</a></li>
      </ul>
    </div>
	<div class="col-6 col-md">
      <h5>Android Uygulaması</h5>
      <ul class="list-unstyled text-small">
        <a href='https://play.google.com/store/apps/details?id=com.bildik.linuxdersleri&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="width: 50%;" alt='Google Play'den alın' src='https://play.google.com/intl/en_us/badges/static/images/badges/tr_badge_web_generic.png'/></a>
	  </ul>
	  
    </div>
  </div>
</footer>