<nav class="navbar x-navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom">
	
  <a href="{{ site.url }}/" class="btn"  ><i class="fa fa-home fa-lg"></i></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.url }}/egitimler.html">Eğitim Serisi</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.url }}/blog/blog.html">Blog</a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="{{ site.url }}/kaynaklar/kaynaklar.html">Kaynak Önerileri</a>
      </li>
	 <li class="nav-item active">
        <a class="nav-link" href="{{ site.url }}/hakkında.html">Hakkında</a>
      </li>
    </ul>
	
  </div>
	<a onclick="tema()" class="btn" ><i class="fa fa-adjust fa-lg"></i></a> 
	<a href="./bildirim.html" class="btn" ><i class="fa fa-paper-plane"></i></a> 
</nav>	
<nav class="navbar y-navbar navbar-expand-lg navbar-light bg-light border-bottom">

		<a href="{{ site.url }}/" class="btn"  ><i class="fa fa-home fa-lg"></i></a>     
	
        <a href="{{ site.url }}/egitimler.html" class="btn"><i class="fa fa-book fa-lg"></i></a>
		
        <a href="{{ site.url }}/blog/blog.html" class="btn" ><i class="fa fa-th fa-lg"></i></a>
		
        <a href="{{ site.url }}/kaynaklar/kaynaklar.html" class="btn" ><i class="fa fa-external-link fa-lg"></i></a>
		
		<a onclick="tema()" class="btn" ><i class="fa fa-adjust fa-lg"></i></a> 
		<a href="{{ site.url }}/bildirim.html" class="btn" ><i class="fa fa-paper-plane"></i></a> 
		
</nav>
