<p></p>
<div class="no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
	  <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ site.url }}/assets/img/bash-kitap-kapak.png" class="card-img-top img1">
		</div>
        <div class="col-md-8">
            <div class="card-body">
		<strong class="d-inline-block mb-0 text-primary"><h3 id="alistirma">Video Eğitim Hakkında</h3></strong>
                <p class="card-text">Buradaki yazılı eğitim serisi, videolu eğitim serisinin bir parçasıdır. Anlatımları video eğitim üzerinde takip etmek, gerektiğinde soru sorup cevap alabilmek ve projenin gelişimini desteklemek isterseniz kursa kayıt olabilirsiniz.</p><p>Kursa göz atmak için bu kartın üzerine tıklayabilirsiniz.</p>
            </div>
			
        </div>
		<a href="https://www.udemy.com/course/kali-linux-ile-sifirdan-temel-linux-egitimi/?referralCode=04ABD09E6ED5DA93F7A2" class=" stretched-link"></a>
    </div>
        
      </div>
	  