	img {
  -webkit-filter: drop-shadow(2px 2px 2px #222222);
  filter: drop-shadow(2px 2px 2px #222222);
}
	.responsive {
    width: 100%;
    height: auto;
	}

	mark{
    padding: 2px 4px;
    font-size: 90%;
    color: #007400;
    background-color: rgba(99, 107, 140, 0.21);
    border-radius: 4px;
}
		
		@media (max-width:  979px) {
	.x-navbar {
		display: none;
	}
}
	@media (min-width:  979px) {
	.y-navbar {
		display: none;
	}
}
	
	.color-box-black {
		background-color: black;
		width: 10px;
		height: 10px;
		
		
	}
	.bs-canvas-overlay {
   		opacity: 0;
		z-index: -1;
	}
	
	.bs-canvas-overlay.show {
   		opacity: 0.85;
		z-index: 1100;
	}
	
	.bs-canvas {
		top: 0;
		width: 0;
		z-index: 1110;		
		overflow-x: hidden;		
		overflow-y: auto;		
	}
	
	
	.bs-canvas-left {
		left: 0;
	}
		
	.bs-canvas-right {
		right: 0;
	}
	
	.bs-canvas-anim {
		transition: all .4s ease-out;
		-webkit-transition: all .4s ease-out;
		-moz-transition: all .4s ease-out;
		-ms-transition: all .4s ease-out;
	}
	
	
	.span-demos {
		width: 96px;
	}
	.img1 {
    -webkit-filter: drop-shadow(0px 0px 0px #222222);
    filter: drop-shadow(0px 0px 0px #222222);
	}
		


/*Dark Mode*/

:root{
	--light-font-color: #222;
	--light-bg-color: #fff;
	--light-fg-color: #f8f9fa;
	--light-br-color: #e1e4e8;
	
	--dark-font-color: #efefef;
	--dark-bg-color: #0d1117;
	--dark-fg-color: #161b22;
	--dark-br-color: #848484;
	
	--font-color: var(--light-font-color); 
	--background: var(--light-bg-color);
	--foreground: var(--light-fg-color); 	
 	--borderground: var(--light-br-color);
}

.dark-mode{
	--font-color: var(--dark-font-color); 
	--background: var(--dark-bg-color);
	--foreground: var(--dark-fg-color); 	
	--borderground: var(--dark-br-color);
	}
.navbar{
	background-color:var(--foreground)!important;
}

.nav-link{
	background-color:var(--foreground)!important;
    color:var(--font-color)!important;	
}	
.btn{
	color:var(--font-color)!important;
}

body{
	background-color:var(--background);
	color:var(--font-color);
}

.container{
	font-size: 1.25rem;
}

.bg-baslık{
	background-color:var(--foreground);	
}

.bg-kanvas{
	background-color:var(--background);	
}
.card{
	border: 1px solid var(--borderground);
	background-color:var(--background);
	color:var(--font-color);	
}

.list-group-item{
	background-color:var(--foreground);
	color:var(--font-color);
	border-color:var(--borderground);
	
}
.table{
	background-color:var(--foreground);
	color:var(--font-color);
	border-color:var(--font-color);
	
}

.highlight pre{
	
	padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 6px;
  color:var(--font-color);
  background-color:var(--foreground);
	border: 1px solid var(--borderground);	
}
 .language-plaintext {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color:var(--foreground);
	border: 1px solid var(--borderground);
    border-radius: 6px;
	}

		
